html, body {height: 100%;}

.popup-body{
    min-width:325px;
    min-height:550px;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}

.popup-div{
    background-color: gainsboro;

    width:100%;
    height: 100%;
    overflow:auto;
}

/*Start of Top Bar*/
.popup-top-bar{
    width:100%;
    height:45px;
    overflow:hidden;
    position:absolute;
    display:table;
    background-color: #555;
    top:0;
    left:0;
    right:0;
    z-index: 980;
}

.popup-search-display{
    
}

.popup-search-bar{
    position: relative;
    display: table-cell;
    border:none;
    left:0;
    width:auto;
    padding:6px;
    color: white; /*Affect Search icon color*/
    background-color:#555;
    font-size: 16px;
}

.popup-search-bar input{
    margin-left: 32px;
    text-overflow:ellipsis;
    width: 100%;
    height: 32px;
    caret-color: white;
  
    background: transparent; /*Search Bar color*/
    border:none;
    color:white;
    /*
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    */
}

.popup-search-bar .fa-search { 
    position: absolute;
    top: 13px;
    left: 15px;
  }

.popup-new-item{
    display: table-cell;
    position:relative;
    text-align: right;
    vertical-align: middle;
    right:0;
    width:10%;
    height:100%;
    color:white;
    transition: all 0.3s ease;
}

.popup-new-item-flex{ /*Help Plus icon alignmnet*/
    display:flex;
    justify-content: center;
    align-items: center;
}

.popup-new-item-a{
    color:white;
    cursor:pointer;
    text-align:center;
    width:100%;
    height:100%;
    font-size:24px;
}

.popup-new-item-a:hover{
    color:white;
}

/*End of Top Bar*/

/*Start of Bottom Bar*/
.popup-bottom-bar {
    width: 100%; /* Full-width */
    height:55px;
    background-color: #555; /* Dark-grey background */
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    overflow: hidden;
    z-index: 980
}

.popup-bottom-bar-div{
    width:100%;
    list-style:none;
    padding:0;
    margin:0;
}

.popup-bottom-icon{
    width:33%;
    display:inline-block;
    padding:0;
    margin:0;
}

.icon-bar {
    width: 100%; /* Full-width */
    height:100%;
    background-color: #555; /* Dark-grey background */
    color:white;
    overflow: hidden; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    vertical-align: middle;
    width: 33.33%;
    height:100%;
    padding: 0px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
    cursor:pointer;
}

.icon-bar a:hover {
    background-color:grey; /* Add a hover color */
    color:white;
}

.active{
    background-color: #364BFF;
}

.active:hover{
    background-color: #4536FF !important; /* Add an active/current color */
}
/*End of Bottom bar*/

/*Start of Content*/
.popup-hidden{
    width:0px;
    height:0px;
    display:inline;
    position:absolute;
    top:-2000px;
}

.popup-content{
    width:100%;

    background-color:gainsboro;
    position:absolute;
    top:45px;
    bottom:55px;
    overflow: auto;
}

.popup-list-section{
    padding-top: 10px;
}

.popup-input:disabled{
    color:#777777;
}
.popup-input:enabled{
    color:black;
}
/* .popup-list-section ::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: calc(100% - 10px);
    border-bottom: 1px solid #f0f0f0;
} */
/*end of content*/


